
header {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
}
a {
  color: white;
  text-decoration: none;
}

header a.active {
  text-decoration: underline;
}

.router-outlet {
  min-height: 80vh;
}

footer {
  text-align: center;
  font-weight: bold;
  background-color: orange;
  color: white;
  padding: 0.5em 1em;
}
h1{
  color: white;
}
header nav {
  font-weight: bold;
  font-size: large;
  display: flex;
  gap: 1em;
}
